@charset "UTF-8";

@font-face {
  font-family: "amatika";
  font-display: swap;
  src: url("../fonts/amatika.woff") format("woff"), url("../fonts/amatika.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'amatika';
  font-display: swap;
  src: url("../fonts/amatika.ttf?fwy21x") format("truetype"), url("../fonts/amatika.woff?fwy21x") format("woff"), url("../fonts/amatika.svg?fwy21x#amatika") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'amatika' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
  content: "\e900";
  font-size: 30px;
}

.icon-inst:before {
  content: "\e901";
  font-size: 30px;
}

.icon-marker:before {
  content: "\e902";
  font-size: 30px;
}

.icon-telegram:before {
  content: "\e903";
  font-size: 30px;
}

.icon-phone:before {
  content: "\e904";
  font-size: 30px;
}

.icon-twitter:before {
  content: "\e905";
  font-size: 30px;
}

.icon-vk:before {
  content: "\e906";
  font-size: 30px;
}

.icon-youtube:before {
  content: "\e907";
  font-size: 30px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Arial";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Arial";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style {
  font-family: inherit;
}

.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-d {
  padding: 0;
  overflow: hidden !important;
  background-color: #ff6600;
}

.gm-style .gm-style-iw-t::after {
  background: #ff6600;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gm-style .gm-style-iw-c button {
  top: 5px !important;
  right: 5px !important;
}

.gm-style .gm-style-iw-c button img {
  display: none !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #333;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 50px;
  background-color: #dadada;
  height: 100vh;
}

.header__icons {
  font-size: 20px;
  text-align: center;
  color: #e0043c;
}

.header__icons :last-child {
  margin: 20px 0px 0px 0px;
  color: #000;
}

.header__icons a {
  display: block;
  margin: 20px 0px 0px 0px;
}

.header__menu {
  position: relative;
  opacity: 0;
  z-index: 4;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  visibility: hidden;
}

.header__list li {
  margin-bottom: 20px;
}

.header__list a {
  color: #fff;
}

.header__menu._active {
  position: relative;
  top: -135px;
  right: 1929px;
  width: 100vw;
  height: 100vh;
  opacity: .8;
  visibility: visible;
  background-color: #333;
  text-align: center;
  overflow: auto;
  padding: 40px 0px 0px 0px;
  opacity: 1;
}

.header__menu._active a {
  font-size: 30px;
  color: #fff;
}

.icon-menu {
  display: block;
  position: absolute;
  top: 18px;
  right: 10px;
  width: 35px;
  height: 23px;
  cursor: pointer;
  z-index: 20;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.icon__bg {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #e0043c;
}

.header__content._container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  padding: 200px 0px 0px 0px;
}

.footer__number {
  margin: 0px 0px 0px 100px;
}

.footer__number span {
  position: relative;
  display: inline-block;
  font-size: 120px;
  color: #dadada;
}

.footer__number span::before {
  content: "08";
  position: absolute;
  top: 48px;
  left: 33px;
  font-size: 15px;
  color: #000;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 300px 0px 0px;
  margin-right: 300px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 120px 0px 0px;
  margin-right: 120px;
}

.footer__icon {
  margin: 0px 0px 70px 0px;
  margin-bottom: 70px;
}

.footer__text {
  font-size: 20px;
  line-height: 150%;
}

.footer__text a {
  color: #000;
}

.footer__social {
  margin: 20px 0px 75px 735px;
  margin-left: 735px;
}

.footer__copyright {
  text-align: center;
  margin: 0px 0px 0px 735px;
  margin-left: 735px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.screen-1__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

._no-webp .screen-1__image{
  background-image: url("../img/main/main.png"); }

.screen-1__image {
  position: relative;
  width: 920px;
  width: 920px;
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.screen-1__image._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.screen-1__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.screen-1__button {
  position: relative;
  z-index: 99;
  margin: 0px 0px 21px 0px;
  text-transform: uppercase;
}

.screen-1__button:hover {
  opacity: 0.8;
}

.screen-1__button a {
  text-align: center;
  display: inline-block;
  color: #fff;
  padding: 12px 20px;
  background-color: #e0043c;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.screen-1__button a._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.screen-1__phone {
  padding: 0px 0px 400px 0px;
  padding-bottom: 400px;
  font-size: 25.3px;
  font-size: 25.3px;
  opacity: 0;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.screen-1__phone._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.screen-1__phone a {
  color: #000;
}

.screen-1__title {
  font-size: 30px;
  font-size: 30px;
  position: relative;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.screen-1__title._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.screen-1__title h1 {
  letter-spacing: 2px;
  color: #000;
  line-height: 130%;
}

.screen-1__under-title {
  position: relative;
  top: -56px;
  left: -83px;
  color: #ececec;
  font-size: 104px;
  opacity: 0;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.screen-1__under-title._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.screen-1__number {
  margin: 0px 0px 15px 0px;
  opacity: 0;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.screen-1__number._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.screen-1__text {
  font-size: 16px;
  padding: 0px 0px 63px 0px;
  color: #dadada;
  opacity: 0;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.screen-1__text._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.form input {
  padding: 10px 10px;
  margin: 0px 0px 50px 0px;
}

.form input :first-child {
  margin: 0px 0px px 0px;
}

.form__label {
  color: #fff;
  margin: 0px 0px 10px 0px;
}

.form__btn {
  padding: 10px 20px;
}

.input {
  width: 100%;
  display: block;
  padding: 0 20px;
  height: 50px;
}

.screen-2 {
  padding: 200px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #f5f5f5;
}

.screen-2__container {
  max-width: 1200px;
  margin: 0 auto;
}

.screen-2__text {
  position: absolute;
  top: 510px;
  left: 0px;
  font-size: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.block-tabs {
  position: relative;
  cursor: pointer;
  margin: 0px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-tabs::before {
  content: "";
  width: 200%;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 37px;
  left: 0;
}

.block-tabs__item {
  text-transform: uppercase;
  font-size: 17px;
}

.block-tabs__item span {
  display: inline-block;
  padding: 10px 80px;
}

.block-tabs__item._active {
  color: #fff;
  background-color: #000;
}

.block-tabs__body {
  position: relative;
}

.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: -webkit-grab;
  cursor: grab;
}

.slider__image {
  position: relative;
  z-index: 1;
  max-width: 400px;
  max-height: 500px;
}

.slider__image img {
  width: 100%;
  display: inline-block;
}

.slider__decor {
  margin: 0px 150px 0px 0px;
}

.slider__decor-number {
  position: relative;
  top: 0;
  right: 20px;
  font-size: 120px;
  color: #dadada;
}

.slider__decor-number::before {
  content: "02";
  z-index: 2;
  font-size: 15px;
  color: #000;
  position: absolute;
  top: 14px;
  right: 55px;
}

.slider__decor-text {
  position: relative;
  top: 200px;
  left: 0px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 30px;
}

.body-slider {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.body-slider__title {
  font-size: 40px;
  margin: 0px 0px 25px 0px;
}

.body-slider__number {
  font-size: 25px;
  line-height: 150%;
  color: #dfdfdf;
  margin: 0px 0px 37px 0px;
}

.body-slider__number span {
  line-height: 100%;
  font-size: 16px;
  color: #dfdfdf;
}

.body-slider__text {
  font-size: 18px;
  color: #afaeae;
  margin: 0px 0px 50px 0px;
  line-height: 120%;
}

.body-slider__price {
  display: inline-block;
  font-size: 18px;
  margin: 0px 20px 0px 0px;
}

.body-slider__time {
  display: inline-block;
  font-size: 18px;
}

.body-slider-control {
  position: relative;
  top: 465px;
  left: 54%;
  z-index: 5;
  display: inline-block;
}

.body-slider-control__back {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0px 40px 0px 0px;
}

.body-slider-control__back span {
  display: inline-block;
  width: 15px;
  height: 30px;
}

.body-slider-control__back span::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 25px solid #858585;
}

.body-slider-control__back span:hover::before {
  opacity: 0.8;
}

.body-slider-control__next {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.body-slider-control__next span {
  display: inline-block;
  width: 15px;
  height: 30px;
  margin: 0px 0px 0px 13px;
}

.body-slider-control__next span::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #858585;
}

.body-slider-control__next span:hover::before {
  opacity: 0.8;
}

.body-slider-control1 {
  position: relative;
  top: 465px;
  left: 54%;
  z-index: 5;
  display: inline-block;
}

.body-slider-control1__back1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0px 40px 0px 0px;
}

.body-slider-control1__back1 span {
  display: inline-block;
  width: 15px;
  height: 30px;
}

.body-slider-control1__back1 span::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 25px solid #858585;
}

.body-slider-control1__back1 span:hover::before {
  opacity: 0.8;
}

.body-slider-control1__next1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.body-slider-control1__next1 span {
  display: inline-block;
  width: 15px;
  height: 30px;
  margin: 0px 0px 0px 13px;
}

.body-slider-control1__next1 span::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #858585;
}

.body-slider-control1__next1 span:hover::before {
  opacity: 0.8;
}

.body-slider-control2 {
  position: relative;
  top: 465px;
  left: 54%;
  z-index: 5;
  display: inline-block;
}

.body-slider-control2__back2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0px 40px 0px 0px;
}

.body-slider-control2__back2 span {
  display: inline-block;
  width: 15px;
  height: 30px;
}

.body-slider-control2__back2 span::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 25px solid #858585;
}

.body-slider-control2__back2 span:hover::before {
  opacity: 0.8;
}

.body-slider-control2__next2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.body-slider-control2__next2 span {
  display: inline-block;
  width: 15px;
  height: 30px;
  margin: 0px 0px 0px 13px;
}

.body-slider-control2__next2 span::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #858585;
}

.body-slider-control2__next2 span:hover::before {
  opacity: 0.8;
}

.screen-3 {
  padding: 200px 0px 0px 0px;
}

.screen-3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screen-3__text {
  position: relative;
  left: 300px;
  font-size: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.body-screen-3__row {
  padding: 70px 0px 70px 0px;
  width: 1711px;
  width: 1711px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 0px 140px;
  margin-left: 140px;
}

.body-screen-3__image {
  position: relative;
  z-index: 4;
  max-width: 597px;
  max-width: 597px;
}

.body-screen-3__image ::before {
  content: "03";
  position: absolute;
  z-index: -1;
  top: -80px;
  right: -45px;
  font-size: 120px;
  color: #dadada;
}

.body-screen-3__image ::after {
  content: "03";
  position: absolute;
  z-index: -1;
  top: -42px;
  right: -41px;
  font-size: 15px;
  color: #000;
}

.body-screen-3__image img {
  display: block;
  width: 100%;
}

.column-body-screen-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-body-screen-3__title {
  position: relative;
  bottom: 95px;
  font-size: 40px;
  margin: 0 0 25px 0;
}

.column-body-screen-3__number {
  position: relative;
  bottom: 95px;
  font-size: 25px;
  line-height: 150%;
  color: #dfdfdf;
  margin: 0 0 37px 0;
}

.column-body-screen-3__number span {
  line-height: 100%;
  font-size: 16px;
  color: #dfdfdf;
}

.column-body-screen-3__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 18px;
  color: #afaeae;
  margin: 0 0 50px 0;
  line-height: 120%;
  max-width: 600px;
  max-width: 600px;
}

.column-body-screen-3__control {
  position: relative;
  top: 25px;
  left: 350px;
  display: block;
}

.column-body-screen-3__back {
  margin: 0px 20px 0px 0px;
  display: inline-block;
}

.column-body-screen-3__back span {
  display: inline-block;
  width: 15px;
  height: 30px;
}

.column-body-screen-3__back span::before {
  content: "";
  display: inline-block;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 25px solid #858585;
}

.column-body-screen-3__back span:hover::before {
  opacity: 0.8;
}

.column-body-screen-3__next {
  display: inline-block;
}

.column-body-screen-3__next span {
  display: inline-block;
  width: 15px;
  height: 30px;
}

.column-body-screen-3__next span::before {
  content: "";
  display: inline-block;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #858585;
}

.column-body-screen-3__next span:hover::before {
  opacity: 0.8;
}

.screen-4 {
  background-color: #eff4f6;
  padding: 75px 0px 75px 0px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.screen-4__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-4__text {
  font-size: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  top: 0;
  right: 362px;
  right: 362px;
}

.screen-4__body {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.body-screen-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1045px;
}

.body-screen-4__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-screen-4__item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b2b2b2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 246px;
          flex: 0 1 246px;
}

.body-screen-4__item-1 p {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
}

.body-screen-4__item-1 img {
  width: 88px;
  position: relative;
  margin: 0px 30px 0px 0px;
}

.body-screen-4__item-2 {
  position: relative;
  height: 124px;
}

.body-screen-4__item-2 ::before {
  content: "Лак для ногтей";
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 30%;
  font-size: 16px;
  font-weight: 900;
}

.body-screen-4__item-2 img {
  width: 100%;
  height: 260px;
  position: relative;
  top: 0;
  left: 0;
}

.body-screen-4__item-3 p {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin: 30px 0px 127px 0px;
  font-size: 16px;
}

.body-screen-4__item-3 img {
  max-height: 311px;
}

.body-screen-4__item-4 {
  background-color: #e1eaef;
}

.body-screen-4__item-4 p {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin: 30px 0px 167px 0px;
  font-size: 16px;
  margin-bottom: 167px;
}

.screen-5 {
  padding: 32px 0px 0px 0px;
}

.screen-5__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.screen-5__text {
  position: absolute;
  z-index: 4;
  left: 0px;
  top: 298px;
  font-size: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slider-screen-5__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 276px 0px 0px;
  padding-right: 276px;
}

.slider-screen-5__img {
  position: relative;
  max-width: 300px;
}

.slider-screen-5__img ::before {
  content: "05";
  position: absolute;
  top: 0;
  right: -100px;
  font-size: 120px;
  color: #dadada;
}

.slider-screen-5__img ::after {
  content: "05";
  position: absolute;
  top: 42px;
  right: 24px;
  font-size: 15px;
  color: #000;
}

.slider-screen-5__img img {
  max-width: 100%;
}

.slider-screen-5__master {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 30px;
  font-weight: 400;
}

.slider-screen-5__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-screen-5__name {
  font-size: 40px;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}

.slider-screen-5__name span {
  font-weight: 700;
}

.slider-screen-5__control {
  position: relative;
  top: -136px;
  left: 480px;
  display: inline-block;
}

.slider-screen-5__back {
  display: inline-block;
  margin: 0px 30px 0px 0px;
}

.slider-screen-5__back span {
  display: inline-block;
  width: 15px;
  height: 30px;
}

.slider-screen-5__back span::before {
  content: "";
  display: inline-block;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 25px solid #858585;
}

.slider-screen-5__back span:hover::before {
  opacity: 0.8;
}

.slider-screen-5__next {
  display: inline-block;
}

.slider-screen-5__next span {
  display: inline-block;
  width: 15px;
  height: 30px;
}

.slider-screen-5__next span::before {
  content: "";
  display: inline-block;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #858585;
}

.slider-screen-5__next span:hover::before {
  opacity: 0.8;
}

.slider-screen-5__number {
  font-size: 25px;
  line-height: 150%;
  color: #dfdfdf;
  margin: 0px 0px 170px 0px;
}

.slider-screen-5__number span {
  line-height: 100%;
  font-size: 16px;
  color: #dfdfdf;
}

.slider-screen-5__text {
  font-size: 18px;
  color: #afaeae;
  line-height: 120%;
}

.screen-6 {
  padding: 100px 0px 0px 0px;
  background-color: #f5f5f5;
}

.screen-6__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-6__slider {
  width: 633px;
  padding: 200px 0px 0px 0px;
}

.screen-6__slider::before {
  position: relative;
  content: "06";
  font-size: 120px;
  color: #dadada;
}

.screen-6__slider::after {
  position: relative;
  top: -367px;
  left: 32px;
  content: "06";
  font-size: 15px;
  color: #000;
}

.screen-6__text {
  position: relative;
  top: -330px;
  font-size: 20px;
  font-weight: 400;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -890px;
  top: -330px;
}

.screen-6__text span {
  font-weight: 700;
}

.screen-6__image {
  max-width: 626px;
}

.screen-6__image img {
  width: 100%;
}

.screen-6__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen-6__img {
  max-width: 215px;
}

.screen-6__img:nth-child(-n+2) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.screen-6__img img {
  width: 100%;
}

.screen-6__bullet .swiper-pagination {
  bottom: 0;
}

.swiper-pagination-clickable.swiper-pagination-bullets {
  position: relative;
  bottom: 32px;
  right: 28px;
  text-align: center;
}

.swiper-pagination-clickable.swiper-pagination-bullets span {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
}

.swiper-pagination-clickable.swiper-pagination-bullets span:nth-child(-n+4) {
  margin: 0px 10px 0px 0px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e0043c;
}

.screen-7 {
  padding: 200px 0px 0px 0px;
}

.screen-7__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.screen-7__text {
  font-size: 20px;
  font-weight: 400;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.screen-7__text span {
  font-weight: 800;
}

.screen-7__map {
  position: relative;
}

.screen-7__map span {
  position: relative;
  bottom: 23px;
  left: 314px;
  display: inline-block;
  font-size: 30px;
}

.screen-7__map::before {
  content: "07";
  position: relative;
  top: 27px;
  font-size: 120px;
  color: #dadada;
}

.screen-7__map::after {
  content: "07";
  position: relative;
  top: -442px;
  left: 32px;
  font-size: 15px;
  color: #000;
}

@media (min-width: 769px) {
  .header {
    opacity: 0;
    -webkit-transform: translate(0, -300px);
        -ms-transform: translate(0, -300px);
            transform: translate(0, -300px);
  }

  .header._active {
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1920px) {
  .header__menu._active {
    right: calc(280px + 1649 * ((100vw - 320px) / 1600));
  }

  .footer__row {
    margin-right: calc(50px + 250 * ((100vw - 320px) / 1600));
  }

  .footer__column {
    margin-right: calc(20px + 100 * ((100vw - 320px) / 1600));
  }

  .footer__icon {
    margin-bottom: calc(20px + 50 * ((100vw - 320px) / 1600));
  }

  .footer__social {
    margin-left: calc(0px + 735 * ((100vw - 320px) / 1600));
  }

  .footer__copyright {
    margin-left: calc(0px + 735 * ((100vw - 320px) / 1600));
  }

  .screen-1__image {
    width: calc(320px + 600 * ((100vw - 320px) / 1600));
  }

  .screen-1__phone {
    padding-bottom: calc(15px + 385 * ((100vw - 320px) / 1600));
  }

  .screen-1__phone {
    font-size: calc(18px + 7.3 * ((100vw - 320px) / 1600));
  }

  .screen-1__title {
    font-size: calc(16px + 14 * ((100vw - 320px) / 1600));
  }

  .body-screen-3__row {
    width: calc(320px + 1391 * ((100vw - 320px) / 1600));
  }

  .body-screen-3__row {
    margin-left: calc(0px + 140 * ((100vw - 320px) / 1600));
  }

  .body-screen-3__image {
    max-width: calc(320px + 277 * ((100vw - 320px) / 1600));
  }

  .column-body-screen-3__text {
    max-width: calc(193px + 407 * ((100vw - 320px) / 1600));
  }

  .screen-4 {
    padding-top: calc(20px + 55 * ((100vw - 320px) / 1600));
  }

  .screen-4 {
    padding-bottom: calc(20px + 55 * ((100vw - 320px) / 1600));
  }

  .screen-4__text {
    right: calc(-500px + 862 * ((100vw - 320px) / 1600));
  }

  .body-screen-4__item-4 p {
    margin-bottom: calc(15px + 152 * ((100vw - 320px) / 1600));
  }

  .slider-screen-5__slide {
    padding-right: calc(0px + 276 * ((100vw - 320px) / 1600));
  }

  .screen-6__text {
    left: calc(0px + -890 * ((100vw - 320px) / 1600));
  }

  .screen-6__text {
    top: calc(500px + -830 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1480px) {
  .screen-2__text {
    display: none;
  }
}

@media (max-width: 1440px) {
  .screen-7__text {
    position: relative;
    left: 0px;
    left: 0px;
  }
}

@media (max-width: 1440px) and (max-width: 1920px) {
  .screen-7__text {
    left: calc(600px + -600 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1438px) {
  .screen-5__text {
    display: none;
  }
}

@media (max-width: 1433px) {
  .screen-3__text {
    display: none;
  }

  .body-screen-3__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .column-body-screen-3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .column-body-screen-3__title {
    bottom: 0px;
  }

  .column-body-screen-3__title br {
    display: none;
  }

  .column-body-screen-3__number {
    bottom: 0px;
  }

  .column-body-screen-3__control {
    top: 0;
    left: 0;
  }
}

@media (max-width: 1336px) {
  .screen-4__text {
    display: none;
  }
}

@media (max-width: 1313px) {
  .screen-1__image {
    width: 100vw;
    background-size: 100%;
    opacity: .8;
  }

  .screen-1__column {
    position: absolute;
    top: 25%;
    left: 50%;
  }

  .screen-1__under-title {
    display: none;
  }

  .screen-1__text {
    color: #000;
  }
}

@media (max-width: 1310px) {
  .header {
    opacity: .5;
  }
}

@media (max-width: 1276px) {
  .slider__decor {
    margin: 0px 0px 0px 0px;
  }

  .slider__decor-number {
    right: 111px;
  }

  .slider__decor-text {
    left: -114px;
  }

  .body-slider {
    position: relative;
    top: 0;
    right: 76px;
  }

  .body-slider__text {
    max-width: 482px;
  }
}

@media (max-width: 1174px) {
  .block-tabs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .block-tabs__item:nth-child(-n+2) {
    margin: 0px 50px 0px 0px;
  }
}

@media (max-width: 1170px) {
  .body-screen-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-screen-4__item-1 {
    margin: 0px 0px 20px 0px;
  }

  .body-screen-4__item-2 ::before {
    top: 68%;
    left: 6%;
  }

  .body-screen-4__item-2 {
    margin: 0px 0px 117px 0px;
  }

  .body-screen-4__item-3 p {
    margin: 30px 0px 16px 0px;
  }

  .body-screen-4__item-3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 1156px) {
  .body-slider {
    right: 170px;
  }
}

@media (max-width: 1116px) {
  .slider-screen-5__control {
    left: 285px;
  }
}

@media (max-width: 1109px) {
  .screen-7__text {
    display: none;
  }
}

@media (max-width: 1108px) {
  .screen-7__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1098px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 1066px) {
  .slider__decor-number {
    right: 145px;
  }

  .slider__decor-text {
    left: -140px;
  }

  .body-slider {
    right: 222px;
  }
}

@media (max-width: 1008px) {
  .slider__decor-number {
    display: none;
  }

  .slider__decor-text {
    display: none;
  }

  .body-slider {
    right: 294px;
  }

  .body-slider-control {
    left: 49%;
  }

  .body-slider-control1 {
    left: 49%;
  }

  .body-slider-control2 {
    left: 49%;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 942px) {
  .slider__slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider__image img {
    width: 950px;
  }

  .slider__image {
    right: 34%;
    display: inline-block;
    top: 0;
    width: 850px;
    height: 100%;
  }

  .slider__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 238%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.466);
  }

  .slider__decor-number {
    display: inline-block;
    z-index: 2;
    top: -359px;
    left: -490px;
    color: #dadada9c;
  }

  .body-slider {
    position: relative;
    z-index: 3;
    right: 10%;
    top: -388px;
  }

  .body-slider__title {
    color: #fff;
  }

  .body-slider__text {
    color: rgba(255, 255, 255, 0.678);
  }

  .body-slider__price {
    color: rgba(255, 255, 255, 0.678);
  }

  .body-slider__time {
    color: rgba(255, 255, 255, 0.678);
  }

  .body-slider-control {
    top: 600px;
    left: 30%;
  }

  .body-slider-control__back {
    margin: 0px 120px 0px 0px;
  }

  .body-slider-control__back span::before {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 45px solid rgba(255, 255, 255, 0.61);
  }

  .body-slider-control__next span::before {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 45px solid rgba(255, 255, 255, 0.61);
  }

  .body-slider-control1 {
    top: 600px;
    left: 30%;
  }

  .body-slider-control2 {
    top: 600px;
    left: 30%;
  }
}

@media (max-width: 942px) and (max-width: 740px) {
  .slider__image::before {
    width: 182%;
    height: 200%;
  }
}

@media (max-width: 942px) and (max-width: 548px) {
  .slider__image::before {
    width: 549px;
    height: 755px;
  }
}

@media (max-width: 942px) and (max-width: 470px) {
  .slider__image::before {
    width: 479px;
    height: 663px;
  }

  .slider__image {
    right: 34%;
  }
}

@media (max-width: 942px) and (max-width: 320px) {
  .slider__image::before {
    width: 328px;
    height: 454px;
  }
}

@media (max-width: 936px) {
  .screen-6__text {
    display: none;
  }
}

@media (max-width: 893px) {
  .slider-screen-5 {
    padding: 100px 0;
  }

  .slider-screen-5__control {
    top: 462px;
    left: -25px;
  }
}

@media (max-width: 822px) {
  .block-tabs {
    margin: 0px 0px 10px 0px;
  }

  .block-tabs__item:nth-child(-n+2) {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 768px) {
  .header {
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #333;
    z-index: 100;
    opacity: 1;
  }

  .header__icons {
    position: absolute;
    top: 15px;
  }

  .header__icons :last-child {
    margin: 0px 0px 0px 20px;
  }

  .header__icons a {
    display: inline-block;
    margin: 0px 0px 0px 100px;
    color: #e0043c;
  }

  .header__menu._active {
    right: 0;
    height: 120vh;
    padding: 200px 0px 0px 0px;
  }

  .icon__bg {
    display: inline;
    color: #333;
  }

  .screen-1__image {
    margin: 50px 0px 0px 0px;
  }

  .screen-1__number {
    display: none;
  }

  .screen-1__text {
    color: #312f2f;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 740px) {
  .slider__image img {
    width: 729px;
  }

  .body-slider {
    right: 29%;
    top: -388px;
  }

  .body-slider-control {
    top: 600px;
    left: 22%;
  }

  .body-slider-control1 {
    top: 600px;
    left: 22%;
  }

  .body-slider-control2 {
    top: 600px;
    left: 22%;
  }
}

@media (max-width: 692px) {
  .block-tabs__item span {
    padding: 10px 40px;
  }
}

@media (max-width: 657px) {
  .body-screen-3__row {
    padding: 70px 120px 70px 113px;
  }

  .column-body-screen-3__title {
    margin: 0px 0px 9px 0px;
  }

  .column-body-screen-3__number {
    margin: 0px 0px 4px 0px;
  }

  .column-body-screen-3__text {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 648px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 638px) {
  .body-slider-control {
    top: 600px;
    left: 18%;
  }

  .body-slider-control1 {
    top: 600px;
    left: 18%;
  }

  .body-slider-control2 {
    top: 600px;
    left: 18%;
  }
}

@media (max-width: 620px) {
  .screen-6__slider::after {
    display: none;
  }
}

@media (max-width: 618px) {
  .slider-screen-5__control {
    top: 433px;
  }
}

@media (max-width: 617px) {
  .screen-5 {
    padding: 141px 0px 0px 0px;
  }

  .slider-screen-5__img ::before {
    top: -114px;
    right: 48px;
  }

  .slider-screen-5__img ::after {
    top: -62px;
    right: 170px;
  }

  .slider-screen-5__master {
    position: relative;
    bottom: 145px;
    left: 33px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .slider-screen-5__row {
    position: relative;
    right: 115px;
  }

  .slider-screen-5__name {
    position: relative;
    bottom: 116px;
  }

  .slider-screen-5__control {
    top: 320px;
    left: 34px;
  }

  .slider-screen-5__number {
    margin: 0px 0px 35px 0px;
  }
}

@media (max-width: 616px) {
  .slider-screen-5 {
    padding: 200px 0px 400px 0px;
  }

  .slider-screen-5__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 0 0px 27px;
  }

  .slider-screen-5__img ::before {
    top: 172px;
    right: -137px;
  }

  .slider-screen-5__img ::after {
    top: 221px;
    right: -19px;
  }

  .slider-screen-5__master {
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .slider-screen-5__row {
    right: 0;
  }

  .slider-screen-5__name {
    bottom: 0;
    text-align: center;
  }

  .slider-screen-5__control {
    top: 193px;
    left: 237px;
  }

  .slider-screen-5__number {
    margin: 0px 0px 10px 0px;
    text-align: center;
  }
}

@media (max-width: 578px) {
  .slider-screen-5__img ::before {
    display: none;
  }

  .slider-screen-5__img ::after {
    display: none;
  }
}

@media (max-width: 575px) {
  .screen-7__map span {
    left: 172px;
  }
}

@media (max-width: 548px) {
  .slider__image img {
    width: 548px;
  }

  .slider__decor-number {
    top: -502px;
    left: -534px;
  }

  .body-slider {
    right: 33%;
    top: -507px;
  }

  .body-slider__text {
    max-width: 300px;
  }

  .body-slider__price {
    display: block;
    margin: 0px 0px 10px 0px;
  }

  .body-slider__time {
    display: block;
  }

  .body-slider-control {
    top: 600px;
    left: 15%;
  }

  .body-slider-control {
    top: 512px;
    left: 11%;
  }

  .body-slider-control1 {
    top: 600px;
    left: 15%;
  }

  .body-slider-control1 {
    top: 512px;
    left: 11%;
  }

  .body-slider-control2 {
    top: 600px;
    left: 15%;
  }

  .body-slider-control2 {
    top: 512px;
    left: 11%;
  }

  .screen-3 {
    padding: 50px 0px 0px 0px;
  }
}

@media (max-width: 516px) {
  .body-screen-3__row {
    padding: 70px 0px 70px 0px;
  }
}

@media (max-width: 508px) {
  .block-tabs__item span {
    padding: 5px 20px;
  }
}

@media (max-width: 470px) {
  .screen-1__column {
    top: 25%;
    left: 25%;
  }

  .slider__image img {
    width: 478px;
  }

  .slider__decor-number {
    font-size: 50px;
  }

  .body-slider {
    right: 36%;
    top: -484px;
  }

  .body-slider__title {
    font-size: 25px;
  }

  .body-slider__text {
    font-size: 15px;
  }

  .body-slider-control {
    top: 420px;
    left: 12%;
  }

  .body-slider-control__back span::before {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 25px solid rgba(255, 255, 255, 0.61);
  }

  .body-slider-control__next span::before {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid rgba(255, 255, 255, 0.61);
  }

  .body-slider-control1 {
    top: 420px;
    left: 12%;
  }

  .body-slider-control2 {
    top: 420px;
    left: 12%;
  }

  .body-screen-3__row {
    padding: 70px 0px 70px 13px;
  }

  .body-screen-3__image ::before {
    display: none;
  }

  .body-screen-3__image ::after {
    display: none;
  }

  .slider-screen-5 {
    padding: 13px 0px 67px 0px;
  }

  .slider-screen-5__slide {
    padding: 0px 0px 0px 0px;
  }

  .slider-screen-5__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider-screen-5__name {
    margin: 0px 0px 0px 0px;
  }

  .slider-screen-5__control {
    left: 0;
  }

  .slider-screen-5__text {
    text-align: center;
  }
}

@media (max-width: 430px) {
  .footer__social {
    margin: 20px 0px 75px 119px;
  }
}

@media (max-width: 399px) {
  .screen-1__column {
    top: 15%;
  }
}

@media (max-width: 394px) {
  .block-tabs::before {
    top: 21px;
  }

  .block-tabs__item span {
    padding: 2px 10px;
  }
}

@media (max-width: 342px) {
  .block-tabs__item span {
    padding: 2px 4px;
  }
}

@media (max-width: 320px) {
  .screen-2 {
    padding: 0px 0px 0px 0px;
  }

  .slider__image img {
    width: 328px;
  }

  .body-slider-control {
    top: 384px;
    left: 6%;
  }

  .body-slider-control1 {
    top: 384px;
    left: 6%;
  }

  .body-slider-control2 {
    top: 384px;
    left: 6%;
  }

  .body-screen-3__row {
    padding: 70px 0px 70px 0px;
  }

  .screen-7__body {
    width: 96px;
  }

  .screen-7__text {
    left: 232px;
    bottom: 247px;
  }

  .screen-7__map {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 200px;
  }
}

._webp .screen-1__image{ background-image: url(../img/main/main.webp); }