 .greatchairs-section-1 {
  background-image: none;
}

.greatchairs-section-1 .greatchairs-sheet-1 {
  min-height: 589px;
}

.greatchairs-section-1 .greatchairs-slider-1 {
  min-height: 469px;
  height: auto;
  width: 1020px;
  margin: 60px auto;
}

.greatchairs-section-1 .greatchairs-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.greatchairs-section-1 .greatchairs-carousel-item-1 {
  background-image: none;
}

.greatchairs-section-1 .greatchairs-container-layout-1 {
  padding: 30px 80px;
}

.greatchairs-section-1 .greatchairs-text-1 {
  font-size: 1.25rem;
  margin: 92px 0 0;
}

.greatchairs-section-1 .greatchairs-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("../images/icon01.png");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.greatchairs-section-1 .greatchairs-carousel-item-2 {
  background-image: none;
}

.greatchairs-section-1 .greatchairs-container-layout-2 {
  padding: 30px 80px;
}

.greatchairs-section-1 .greatchairs-text-2 {
  font-size: 1.25rem;
  margin: 92px 0 0;
}

.greatchairs-section-1 .greatchairs-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("../images/icon02.png");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.greatchairs-section-1 .greatchairs-carousel-item-3 {
  background-image: none;
}

.greatchairs-section-1 .greatchairs-container-layout-3 {
  padding: 30px 80px;
}

.greatchairs-section-1 .greatchairs-text-3 {
  font-size: 1.25rem;
  margin: 93px 0 0;
}

.greatchairs-section-1 .greatchairs-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("../images/icon03.png");
  background-position: 50% 50%;
  margin: 27px auto 0;
}

.greatchairs-section-1 .greatchairs-carousel-item-4 {
  background-image: none;
}

.greatchairs-section-1 .greatchairs-container-layout-4 {
  padding: 30px 80px;
}

.greatchairs-section-1 .greatchairs-text-4 {
  font-size: 1.25rem;
  margin: 93px 0 0;
}

.greatchairs-section-1 .greatchairs-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("../images/icon04.png");
  background-position: 50% 50%;
  margin: 27px auto 0;
}

.greatchairs-section-1 .greatchairs-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.greatchairs-section-1 .greatchairs-carousel-control-2 {
  width: 30px;
  height: 30px;
}

@media (max-width: 1199px) {
  .greatchairs-section-1 .greatchairs-slider-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .greatchairs-section-1 .greatchairs-slider-1 {
    width: 720px;
  }

  .greatchairs-section-1 .greatchairs-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .greatchairs-section-1 .greatchairs-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .greatchairs-section-1 .greatchairs-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .greatchairs-section-1 .greatchairs-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .greatchairs-section-1 .greatchairs-slider-1 {
    width: 540px;
  }

  .greatchairs-section-1 .greatchairs-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .greatchairs-section-1 .greatchairs-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .greatchairs-section-1 .greatchairs-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .greatchairs-section-1 .greatchairs-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .greatchairs-section-1 .greatchairs-slider-1 {
    min-height: 647px;
    width: 300px;
    margin-left: 10px;
  }

  .greatchairs-section-1 .greatchairs-carousel-control-1 {
    left: 0;
    top: 287px;
    right: auto;
    position: absolute;
  }

  .greatchairs-section-1 .greatchairs-carousel-control-2 {
    left: auto;
    top: 287px;
    right: 0;
    position: absolute;
  }
}