.u-section-1 .u-sheet-1 {
  min-height: 1297px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 1133px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
  width: 218px;
  height: 218px;
  background-image: url("../images/i-1.webp");
  background-position: 50% 50%;
  margin: 10px auto 0 24px;
}

.u-section-1 .u-text-2 {
  margin: -204px auto 0 266px;
}

.u-section-1 .u-text-3 {
  margin-left: 266px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  width: 218px;
  height: 218px;
  background-image: url("../images/i-2.webp");
  background-position: 50% 50%;
  margin: 10px auto 0 24px;
}

.u-section-1 .u-text-4 {
  margin: -204px auto 0 266px;
}

.u-section-1 .u-text-5 {
  margin-left: 266px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
  width: 218px;
  height: 218px;
  background-image: url("../images/i-3.webp");
  background-position: 50% 50%;
  margin: 10px auto 0 24px;
}

.u-section-1 .u-text-6 {
  margin: -204px auto 0 266px;
}

.u-section-1 .u-text-7 {
  margin-left: 266px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-4 {
  width: 218px;
  height: 218px;
  background-image: url("../images/i-4.webp");
  background-position: 50% 50%;
  margin: 10px auto 0 24px;
}

.u-section-1 .u-text-8 {
  margin: -204px auto 0 266px;
}

.u-section-1 .u-text-9 {
  margin-left: 266px;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 24px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 6px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 24px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 6px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 24px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 6px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 20px;
    width: 300px;
    margin-left: 10px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2190px;
  }
}