@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sports";
  font-display: swap;
  src: url("../fonts/Sports-World.woff2") format("woff2"), url("../fonts/Sports-World.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
  color: #fff;
}

._icon-instagram:before {
  content: "\e901";
  color: #fff;
}

._icon-search:before {
  content: "\e902";
  color: #fff;
}

._icon-twitter:before {
  content: "\e903";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #505050;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 96.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  max-width: 9.9375rem;
  padding: 0.8125rem 1.25rem 1.625rem 1.625rem;
}

.logo_height {
  height: auto;
}

.button-yellow,
.button {
  font-family: "Sports", sans-serif;
  font-size: 1.5625rem;
  padding: 1.125rem 1.25rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.button-yellow {
  color: #000;
  background-color: #F9E100;
}

.button {
  color: #fff;
  background-color: rgb(79, 70, 246);
}

.title {
  font-family: "Sports", sans-serif;
  font-size: 2.125rem;
  text-transform: uppercase;
  color: #000;
}

.subtitle {
  font-family: "Sports", sans-serif;
  font-size: 1.5625rem;
  text-transform: uppercase;
  color: #000;
}

.subtitle_color {
  color: #fff;
}

.subtitle_font-size {
  font-size: 1.5rem;
}

.line {
  height: 3px;
  background-color: #000;
}

.line_height {
  height: 7px;
}

.text {
  line-height: 1.55;
  max-width: 30.3125rem;
}

.text_color {
  color: #fff;
}

.error-message {
  color: red;
}

.no-webp .header__background{
  background: url("../img/background.jpg") 0 0/cover no-repeat; }

.header__background {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}

.header__background::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__banner {
  position: relative;
  padding: 0.6875rem 0;
  background-color: #f9e100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__text {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.2;
}

.header__text span:nth-child(2) {
  font-weight: 400;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__on-the-left {
  word-break: break-all;
}

.header__logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header__on-the-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1.875rem;
  padding-bottom: 1.3125rem;
}

.menu-open .header__on-the-right {
  top: 0;
}

.menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 1.1875rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.8125rem;
  margin-right: 2.3125rem;
}

.menu__social {
  margin-right: 0.8125rem;
}

.menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Sports", sans-serif;
  font-size: 1.5625rem;
  color: #f9e100;
}

@supports (font-size: clamp( 1.25rem , 0.939119171rem  +  0.6476683938vw , 1.5625rem )) {
  .menu__bottom {
    font-size: clamp( 1.25rem , 0.939119171rem  +  0.6476683938vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.939119171rem  +  0.6476683938vw , 1.5625rem )) {
  .menu__bottom {
    font-size: calc(1.25rem + 0.3125 * (100vw - 48rem) / 48.25);
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.facebook,
.instagram,
.twitter {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebook {
  background-color: #3f5a9a;
}

.instagram {
  background-image: radial-gradient(120.67% 120.67% at 16.13% 98.65%, rgb(254, 192, 83) 0%, rgb(242, 32, 62) 32.7270001173%, rgb(183, 41, 168) 64.8479998112%, rgb(83, 66, 214) 100%);
}

.twitter {
  background-color: #40a2f5;
}

.icon-menu {
  display: none;
}

.no-webp .footer__background{
  background: url("../img/background-footer.jpg") 0 0/cover no-repeat; }

.footer__background {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}

.footer__background::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer__container {
  position: relative;
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
}

.footer__logo {
  margin-bottom: 1.3125rem;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  margin-bottom: 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.1875rem;
  -webkit-column-gap: 1.625rem;
     -moz-column-gap: 1.625rem;
          column-gap: 1.625rem;
}

.footer__link {
  font-family: "Roboto", sans-serif;
  font-size: 1.0625rem;
  text-transform: uppercase;
  color: #fff;
}

.info {
  padding: 2.875rem 0 5.8125rem 0;
}

.info__two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.75rem;
}

@supports (gap: clamp( 2.375rem , -3.7344890511rem  +  9.8540145985vw , 5.75rem )) {
  .info__two-columns {
    gap: clamp( 2.375rem , -3.7344890511rem  +  9.8540145985vw , 5.75rem );
  }
}

@supports not (gap: clamp( 2.375rem , -3.7344890511rem  +  9.8540145985vw , 5.75rem )) {
  .info__two-columns {
    gap: calc(2.375rem + 3.375 * (100vw - 62rem) / 34.25);
  }
}

.info__left {
  max-width: 100%;
  width: 56%;
}

.info__items:nth-child(1) {
  max-width: 53.5rem;
}

.info__line {
  margin-top: 2.4375rem;
  margin-bottom: 2.3125rem;
}

.info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.0625rem;
}

.info__slider {
  margin-bottom: 2.8125rem;
  position: relative;
}

.info__slide {
  overflow: hidden;
  max-width: 53.5rem;
}

.info__slide-image {
  max-width: 53.5rem;
}

.info__slide-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.info__title {
  margin-bottom: 1.4375rem;
}

.info__subtitle {
  margin-bottom: 1.625rem;
}

.info__date {
  display: inline-block;
  font-family: "Sports", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0.625rem;
}

.info__image {
  max-width: 20.9375rem;
}

.info__image img {
  width: 100%;
}

.info__button {
  display: block;
  margin-top: 4.9375rem;
  max-width: 17.6875rem;
  margin-left: auto;
  text-align: center;
}

.info__items:nth-child(1) hr {
  margin-top: 1.875rem;
  margin-bottom: 2.4375rem;
}

.info__items:nth-child(1) .info__text {
  max-width: 51.8125rem;
}

.right-info__wrapper:nth-child(1) hr {
  margin-top: 0.5rem;
  margin-bottom: 1.375rem;
}

.swiper-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0.875rem;
  right: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.swiper-pagination-bullet {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

.right-info__wrapper {
  margin-bottom: 2.75rem;
}

.right-info__line {
  margin-top: 0.4375rem;
  margin-bottom: 0.4375rem;
}

.right-info__text {
  max-width: 100%;
}

.right-info__button {
  max-width: 10.9375rem;
  display: block;
  margin-left: auto;
  text-align: center;
}

.right-info__link {
  color: #4f46f6;
}

.right-info__social {
  font-size: 1.875rem;
}

.right-info__social > .facebook,
.right-info__social > .instagram,
.right-info__social > .twitter {
  width: 62px;
  height: 62px;
}

@supports (margin-bottom: clamp( 3.4375rem , 3.2428872497rem  +  0.5268703899vw , 3.75rem )) {
  .right-info__wrapper:nth-child(1) .right-info__text {
    margin-bottom: clamp( 3.4375rem , 3.2428872497rem  +  0.5268703899vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 3.4375rem , 3.2428872497rem  +  0.5268703899vw , 3.75rem )) {
  .right-info__wrapper:nth-child(1) .right-info__text {
    margin-bottom: calc(3.4375rem + 0.3125 * (100vw - 36.9375rem) / 59.3125);
  }
}

.right-info__wrapper:nth-child(2) p:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.right-info__wrapper:nth-child(2) p:last-child {
  max-width: 100%;
}

@supports (margin-top: clamp( 1.375rem , 0.5965489989rem  +  2.1074815595vw , 2.625rem )) {
  .right-info__wrapper:nth-child(2) p:last-child {
    margin-top: clamp( 1.375rem , 0.5965489989rem  +  2.1074815595vw , 2.625rem );
  }
}

@supports not (margin-top: clamp( 1.375rem , 0.5965489989rem  +  2.1074815595vw , 2.625rem )) {
  .right-info__wrapper:nth-child(2) p:last-child {
    margin-top: calc(1.375rem + 1.25 * (100vw - 36.9375rem) / 59.3125);
  }
}

.right-info__wrapper:nth-child(3) p {
  margin-bottom: 2.125rem;
}

.no-webp .form{
  background: url("../img/form.jpg") 0 0/cover no-repeat; }

.form {
  padding: 2.5rem 2.75rem 2.1875rem 2.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.form__subtitle {
  position: relative;
  margin-bottom: 1.5rem;
}

.form__text {
  position: relative;
  margin-bottom: 2.4375rem;
}

@supports (font-size: clamp( 1rem , 0.704797048rem  +  1.4760147601vw , 1.25rem )) {
  .form__wrapper ::-webkit-input-placeholder {
    font-size: clamp( 1rem , 0.704797048rem  +  1.4760147601vw , 1.25rem );
  }
  .form__wrapper ::-moz-placeholder {
    font-size: clamp( 1rem , 0.704797048rem  +  1.4760147601vw , 1.25rem );
  }
  .form__wrapper :-ms-input-placeholder {
    font-size: clamp( 1rem , 0.704797048rem  +  1.4760147601vw , 1.25rem );
  }
  .form__wrapper ::-ms-input-placeholder {
    font-size: clamp( 1rem , 0.704797048rem  +  1.4760147601vw , 1.25rem );
  }
  .form__wrapper ::placeholder {
    font-size: clamp( 1rem , 0.704797048rem  +  1.4760147601vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.704797048rem  +  1.4760147601vw , 1.25rem )) {
  .form__wrapper ::-webkit-input-placeholder {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 16.9375);
  }
  .form__wrapper ::-moz-placeholder {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 16.9375);
  }
  .form__wrapper :-ms-input-placeholder {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 16.9375);
  }
  .form__wrapper ::-ms-input-placeholder {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 16.9375);
  }
  .form__wrapper ::placeholder {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 16.9375);
  }
}

.form__wrapper input {
  width: 100%;
}

.form__items {
  position: relative;
  margin-bottom: 2.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.form__items input {
  padding: 0.5625rem 0 1rem 1.8125rem;
  color: #8a8a8a;
}

.form__items input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.form__items input::-moz-placeholder {
  text-transform: uppercase;
}

.form__items input:-ms-input-placeholder {
  text-transform: uppercase;
}

.form__items input::-ms-input-placeholder {
  text-transform: uppercase;
}

.form__items input::placeholder {
  text-transform: uppercase;
}

.form__checkbox {
  position: relative;
  color: #fff;
  font-size: 17px;
}

.form__button {
  position: relative;
}

.products__background {
  background-color: #f9e100;
}

@supports (padding-top: clamp( 1.8125rem , 1.2464622642rem  +  2.8301886792vw , 4.0625rem )) {
  .products__background {
    padding-top: clamp( 1.8125rem , 1.2464622642rem  +  2.8301886792vw , 4.0625rem );
  }
}

@supports not (padding-top: clamp( 1.8125rem , 1.2464622642rem  +  2.8301886792vw , 4.0625rem )) {
  .products__background {
    padding-top: calc(1.8125rem + 2.25 * (100vw - 20rem) / 79.5);
  }
}

@supports (padding-bottom: clamp( 1.8125rem , 1.4508647799rem  +  1.8081761006vw , 3.25rem )) {
  .products__background {
    padding-bottom: clamp( 1.8125rem , 1.4508647799rem  +  1.8081761006vw , 3.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.8125rem , 1.4508647799rem  +  1.8081761006vw , 3.25rem )) {
  .products__background {
    padding-bottom: calc(1.8125rem + 1.4375 * (100vw - 20rem) / 79.5);
  }
}

.products__title {
  font-family: "Sports", sans-serif;
  font-size: 2.1875rem;
  line-height: 0.71429;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

@supports (font-size: clamp( 1.5625rem , 1.4052672956rem  +  0.786163522vw , 2.1875rem )) {
  .products__title {
    font-size: clamp( 1.5625rem , 1.4052672956rem  +  0.786163522vw , 2.1875rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.4052672956rem  +  0.786163522vw , 2.1875rem )) {
  .products__title {
    font-size: calc(1.5625rem + 0.625 * (100vw - 20rem) / 79.5);
  }
}

.products__container {
  padding-top: 3.125rem;
  padding-bottom: 7rem;
}

.products__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 262px);
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@supports (row-gap: clamp( 2rem , 1.0491803279rem  +  4.7540983607vw , 5.625rem )) {
  .products__items {
    row-gap: clamp( 2rem , 1.0491803279rem  +  4.7540983607vw , 5.625rem );
  }
}

@supports not (row-gap: clamp( 2rem , 1.0491803279rem  +  4.7540983607vw , 5.625rem )) {
  .products__items {
    row-gap: calc(2rem + 3.625 * (100vw - 20rem) / 76.25);
  }
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__image {
  margin-bottom: 1rem;
  max-width: 16.375rem;
  border: 1px solid #8a8a8a;
}

.products__image img {
  width: 100%;
}

.products__name-product {
  margin-bottom: 1.4375rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.25;
}

@supports (margin-bottom: clamp( 0.8125rem , 0.6485655738rem  +  0.8196721311vw , 1.4375rem )) {
  .products__name-product {
    margin-bottom: clamp( 0.8125rem , 0.6485655738rem  +  0.8196721311vw , 1.4375rem );
  }
}

@supports not (margin-bottom: clamp( 0.8125rem , 0.6485655738rem  +  0.8196721311vw , 1.4375rem )) {
  .products__name-product {
    margin-bottom: calc(0.8125rem + 0.625 * (100vw - 20rem) / 76.25);
  }
}

.products__price {
  color: #000;
  font-weight: 400;
  text-align: center;
}

.products__background-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.125rem 0;
  background-color: #f9e100;
}

.products__background-bottom a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: #000;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 62em) {
  .info__two-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info__left {
    width: 100%;
  }

  .info__text {
    text-align: justify;
  }

  .info__button {
    margin: 4.5rem auto 0 auto;
  }

  .right-info__button {
    margin: 0 auto;
    max-width: 21.875rem;
  }

  .form {
    max-width: 37.5rem;
    margin: 0 auto;
  }

  .form__button {
    text-align: center;
  }
}

@media (max-width: 920px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 87.5em) {
  .info__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .info__text {
    max-width: 100%;
  }

  .info__image {
    max-width: 33.75rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 57.5em) {
  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__on-the-right {
    z-index: 4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    left: 0;
    top: -800px;
    background-color: #3f5a9a;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    width: 100%;
    height: 100%;
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }
}

@media (max-width: 36.9375em) {
@supports (font-size: clamp( 1.25rem , 0.88099631rem  +  1.8450184502vw , 1.5625rem )) {
    .subtitle {
      font-size: clamp( 1.25rem , 0.88099631rem  +  1.8450184502vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.88099631rem  +  1.8450184502vw , 1.5625rem )) {
    .subtitle {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 16.9375);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.2619926199rem  +  3.6900369004vw , 1.625rem )) {
    .subtitle {
      margin-bottom: clamp( 1rem , 0.2619926199rem  +  3.6900369004vw , 1.625rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.2619926199rem  +  3.6900369004vw , 1.625rem )) {
    .subtitle {
      margin-bottom: calc(1rem + 0.625 * (100vw - 20rem) / 16.9375);
    }
}

@supports (font-size: clamp( 1rem , 0.704797048rem  +  1.4760147601vw , 1.25rem )) {
    .text {
      font-size: clamp( 1rem , 0.704797048rem  +  1.4760147601vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.704797048rem  +  1.4760147601vw , 1.25rem )) {
    .text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 16.9375);
    }
}

  .header__logo {
    margin-bottom: -1.5625rem;
    position: relative;
    z-index: 3;
  }

  .menu__body {
    overflow: visible;
  }

  .menu__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__list {
    margin: 0 0 1.25rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__list {
    max-width: 21.875rem;
    -webkit-column-gap: 2.4375rem;
       -moz-column-gap: 2.4375rem;
            column-gap: 2.4375rem;
  }

  .info {
    padding-top: 0;
  }

  .info__slider {
    margin-left: -1.625rem;
    margin-right: -1.625rem;
  }

@supports (margin-top: clamp( 1.5rem , -2.0424354244rem  +  17.7121771218vw , 4.5rem )) {
    .info__button {
      margin-top: clamp( 1.5rem , -2.0424354244rem  +  17.7121771218vw , 4.5rem );
    }
}

@supports not (margin-top: clamp( 1.5rem , -2.0424354244rem  +  17.7121771218vw , 4.5rem )) {
    .info__button {
      margin-top: calc(1.5rem + 3 * (100vw - 20rem) / 16.9375);
    }
}

@supports (font-size: clamp( 1.375rem , 1.153597786rem  +  1.1070110701vw , 1.5625rem )) {
    .info__button {
      font-size: clamp( 1.375rem , 1.153597786rem  +  1.1070110701vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.153597786rem  +  1.1070110701vw , 1.5625rem )) {
    .info__button {
      font-size: calc(1.375rem + 0.1875 * (100vw - 20rem) / 16.9375);
    }
}

  .swiper-pagination-bullet-active {
    background-color: #f9e100;
  }

  .right-info__text {
    text-align: justify;
  }

@supports (font-size: clamp( 1.25rem , 0.88099631rem  +  1.8450184502vw , 1.5625rem )) {
    .right-info__button {
      font-size: clamp( 1.25rem , 0.88099631rem  +  1.8450184502vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.88099631rem  +  1.8450184502vw , 1.5625rem )) {
    .right-info__button {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 16.9375);
    }
}

@supports (font-size: clamp( 1.25rem , 0.88099631rem  +  1.8450184502vw , 1.5625rem )) {
    .form__button {
      font-size: clamp( 1.25rem , 0.88099631rem  +  1.8450184502vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.88099631rem  +  1.8450184502vw , 1.5625rem )) {
    .form__button {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 16.9375);
    }
}
}

@media (max-width: 36.9375em) and (min-width: 36.9375em) {
  .text {
    font-size: inherit;
  }
}

@media (any-hover: hover) {
  .button-yellow:hover {
    color: #F9E100;
    background-color: #000;
  }

  .button:hover {
    background-color: #fff;
    color: rgb(79, 70, 246);
  }

  .header__text a:hover {
    text-decoration: underline;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .facebook:hover,
  .instagram:hover,
  .twitter:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .right-info__link:hover {
    text-decoration: underline;
  }

  .products__background-bottom:hover {
    text-decoration: underline;
  }
}

.webp .header__background{ background: url(../img/background.webp) 0 0/cover no-repeat; }

.webp .footer__background{ background: url(../img/background-footer.webp) 0 0/cover no-repeat; }

.webp .form{ background: url(../img/form.webp) 0 0/cover no-repeat; }