.d_71 {
  width: 1140px;
  margin: 0 auto;
  padding: 11px 15px 0px 15px;
}

.d_70 {
  width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}

.d_31 {
  overflow: auto;
  min-height: 100%;
  background-image: url('../img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
}


/* ======================================================================================== */


.d_35 {
  padding-right: 144.156px;
}

.d_55 {
  background-image: url('../img/ie8/arrow-bottom.png');
}

.d_56 {
  background-image: url('../img/ie8/arrow-bottom.png');
}


.d_36 {
  margin-right: 78px;
}

.d_52 {
  margin-right: 58.75px;
}

.d_62 {
  margin-right: 97.578px;
}

.d_37 {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-size: 20px;
  display: inline-block;
  color: #19548A;
  position: relative;
  transition: color 0.3s ease 0s;
}

.d_60 {
  background-image: url('../img/ie8/location.png');
}



.d_40 {
  display: none;
}

.d_41 {
  display: none;
}

.icon-menu {
  display: none;
}


.d_42 {
  display: none;
}

.d_43 {
  display: none;
}

.d_45 {
  display: inline-block;
}



.d_58 a {
  margin-right: 9.652509652509653%;
}

.d_59 {
  margin-right: 0px !important;
}


.d_32 {
  background-image: none;
}


.d_33 {
  width: 468.109px;
}

.d_57 {
  text-align: right;
  width: 467.203px;
}


.d_34-2 a:last-child {
  position: relative;
  left: -6px;
}

.d_39-1 {
  left: 25%;
}

.d_39-4 {
  left: -141.875px;
}


.d_46 h1 {
  max-width: 810px;
}

.d_53 {
  width: 600px;
}

.d_54 {
  width: 600px;
}

.d_67 {
  width: 600px;
}

.d_68 {
  width: 600px;
}