/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	/* по умолчанию */
}

body {
	line-height: 1;
	color: #000;
	font-family: "Roboto";
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* ------------------------------ */

.ourservicescolor {
	background-color: #F5F5F5;

}


.ourservicesbackground {
	padding: 107px 0px 124px 0px;
	max-width: 1440px;
	margin: 0 auto;
	background: url(../img/123.png) 100% 245% no-repeat;

}


.ourservicescontainer {
	max-width: 1020px;
	margin: 0 auto;

}

.ourservicessuperbox {
	margin: 0px 0px 66px 0px;
}

.ourservicestitle {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	margin: 0px 0px 33px 0px;
}

.ourservicestitle::before {
	content: url(../img/mark.svg);
	display: inline-block;
	vertical-align: middle;

}

.ourservicessubtitle {
	font-weight: 900;
	font-size: 36px;
	color: #000000;
	margin: 0px 0px 78px 0px;
}

.ourservicesbox {
	font-size: 0;
}

.ourservicesbox:not(:last-child) {
	margin: 0px 0px 24px 0px;
}


.ourservicesboxitems:not(:last-child) {
	margin: 0px 24px 0px 0px;
}


.ourservicesboxitems {
	padding: 50px 44px 50px 43px;
	display: inline-block;
	text-align: center;
	background: #FFFFFF;
	border-radius: 20px;
}

.ourservicesboxitems:hover {
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.ourservicesboximage {
	margin: 0px 0px 33px 0px;
}


.ourservicesboxtitle {
	font-weight: 900;
	font-size: 19px;
	color: #F2726F;
	margin: 0px 0px 20px 0px;
}

.ourservicesboxtext {
	max-width: 235px;
}

.ourservicesboxtext p {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

.ourservicesbutton {
	background: #F2726F;
	border-radius: 8px;
	display: inline-block;
}

.ourservicesbutton a {
	display: block;
	padding: 20px 25px 20px 25px;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 2px;
}

.ourservicesbuttoncontainer {
	display: block;
	text-align: center;
}


/* ==================================================================================== */

.promisebackground {
	padding: 100px 0px 122px 0px;
	background: #F5F5F5;
}

.promisecontainer {
	max-width: 1020px;
	margin: 0 auto;
}

.promisetitle {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	margin: 0px 0px 33px 0px;
}

.promisetitle::before {
	content: url(../img/mark.svg);
	display: inline-block;
	vertical-align: middle;
}

.promisesubtitle {
	font-weight: 900;
	font-size: 36px;
	color: #000000;
	margin: 0px 0px 68px 0px;
}

.promisebox {
	font-size: 0;
}

.promiseitems {
	display: inline-block;
}
.promiseitems:not(:last-child){
	margin: 0px 24px 0px 0px;
}
.promiseitemsleft {
	display: inline-block;
	vertical-align: top;
	margin: 0px 23px 0px 0px;
}

.promiseitemsleft img {
	margin: -9px 0px 0px 0px;
}

.promiseright {
	display: inline-block;
}

.promiserighttitle {
	margin: 0px 0px 20px 0px;
}

.promiserighttitle h3 {
	font-weight: 900;
	font-size: 19px;
	color: #F2726F;

}

.promiserighttext {
	max-width: 235px;
}

.promiserighttext p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

/* ========================================================================== */

.impactbackgrouncolor {
	padding: 0px 0px 212px 0px;
	background: #29C3BE url(../img/background2.png) 72% 0 no-repeat;
}


.impactcontainer {
	max-width: 1020px;
	margin: 0 auto;
	font-size: 0;
}

.impactcontenttext {
	display: inline-block;
	margin: 0px 111px 79px 0px;
}

.impactcontentitle {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0px 0px 32px 0px;

}

.impactcontentitle::before {
	content: url(../img/mark-white.svg);
	display: inline-block;
	vertical-align: middle;
}

.impactcontensubtitle {
	font-weight: 900;
	font-size: 36px;
	color: #FFFFFF;
	max-width: 411px;

}

.impactcontimage {
	display: inline-block;
	margin: -80px 0px 0px 0px;
	
}

.impactcontimage img {
	border-radius: 41px;
	display: block;

}

.impactcontainerdown {
	max-width: 981px;
	margin: 0 auto;
	font-size: 0;
}

.impactdownbox {
	display: inline-block;
}
.impactdownbox:not(:last-child){
	margin: 0px 75px 0px 0px;
}

.impactdownimage {
	display: inline-block;
	vertical-align: top;
	margin: 0px 12px 0px 0px;
}

.impactdownbody {
	display: inline-block;
}

.impactdownbodynumber {
	font-weight: 900;
	font-size: 36px;
	color: #FFFFFF;
	margin: 0px 0px 3px 0px;
}

.impactdownbodytext {
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.15px;
	color: #5D62B5;
}