/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	/* по умолчанию */
}

body {
	line-height: 1;
	color: #000;
	font-family: "Roboto";
	font-size: 30px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* ------------------------------ */
.container {
	max-width: 1200px;
	margin: 100px auto 100px auto;
}

.block {
	margin: 0px 0px 100px 0px;
}

.block p {
	margin: 0px 0px 20px 0px;
}

.block:hover {
	font-size: 20px;
	background-color: rgb(29, 118, 160);
	padding: 40px;
}

.block:active {
	font-size: 100px;
}


.link {
	color: green;
}

.link:visited {
	color: rgb(156, 29, 160);
}

.link:focus {
	color: red;
}

.speed {
	padding: 20px;
	color: purple;
	font-size: 25px;
}

.speed:target {
	display: none;
}

.text p:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.text p:first-child {
	color: red;
}

.text p:last-child {
	color: red;
}

.text p::first-letter {
	color: rgb(2, 4, 136);
}

ul {
	margin: 0px 0px 30px 0px;
}

.list li:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.list li::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
	margin: 0px 10px 0px 0px;
}

.list2 {
	counter-reset: item;
}

.list2 li:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.list2 li::before {
	counter-increment: item;
	content: counter(item) ")";
	display: inline-block;
	vertical-align: top;
	color: rgb(2, 63, 27);
	margin: 0px 10px 0px 0px;
}

/* ============================================================================== */

.containersed {
	max-width: 1020px;
	margin: 0px auto 200px auto;
}

.sedsubtitle {
	margin: 0px 0px 33px 0px;
}

.sedsubtitle h3 {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
}

.sedsubtitle h3::before {
	content: url(../img/mark.png);
	display: inline-block;
	vertical-align: top;
	margin: 0px 16px 0px 0px;
}

.sedtitle {
	margin: 0px 0px 30px 0px;
}

.sedtitle h2 {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}

.seditems {
	font-size: 0;
}

.seditem {
	max-width: 324px;
	display: inline-block;
}

.seditemtitle {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	color: #F2726F;
	margin: 0px 0px 20px 0px;
}

.seditemtitle h3::before {
	content: url(../img/i1.png);
	display: inline-block;
	padding: 0px 20px 0px 0px;
	vertical-align: middle;
}

.seditemtitle2 {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	color: #F2726F;
	margin: 0px 0px 20px 0px;
}

.seditemtitle2 h3::before {
	content: url(../img/i2.png);
	display: inline-block;
	padding: 0px 20px 0px 0px;
	vertical-align: middle;
}

.seditemtitle3 {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	color: #F2726F;
	margin: 0px 0px 20px 0px;
}

.seditemtitle3 h3::before {
	content: url(../img/i3.png);
	display: inline-block;
	padding: 0px 20px 0px 0px;
	vertical-align: middle;
}

.seditemtext p {
	padding: 0px 0px 0px 86px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}


/* ============================================================================= */


.containerwork {
	max-width: 1200px;
	margin: 0 auto;
}

.workbox {
	display: block;
	max-width: 255px;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	padding: 24px 24px 57px 24px;
	margin: 0 auto;
}

.worktitle {
	margin: 0px 0px 29px 0px;
}

.worktitle::after {
	content: "";
	display: block;
	width: 56px;
	height: 2px;
	background: #34C759;
	margin: 10px 0px 0px 0px;
}

.worktitle h3 {
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.275px;
	text-transform: capitalize;
	color: #FFFFFF;
}


.worktext p {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: rgba(255, 255, 255, 0.5);
}