/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    /* по умолчанию */
}

body {
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    padding: 20px;
}

/* ------------------------------ */
.container {
    max-width: 850px;
    margin: 0 auto;
}

.weare {
    margin: 0px 0px 100px 0px;
}

.overline {
    display: inline-block;
}

.overline img {
    vertical-align: middle;
}

.subtitle {
    display: inline-block;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0px 0px 33px 0px;
    text-transform: uppercase;
}

.title {
    font-size: 36px;
    max-width: 583px;
    color: #02133C;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 0px 0px 36px 0px;
}

.text {
    font-size: 16px;
    color: #4B4B4B;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 54px 0px;
}

/* =================================================================================== */

.services {}

.section {
    max-width: 324px;
    box-shadow: 1px 1px 5px black;
    margin: 0px 0px 24px 0px;
    text-align: center;
}

.sectionimg {
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 33px 0px;
}

.sectiontitle {
    font-size: 19px;
    font-weight: 900;
    margin: 0px 0px 20px 0px;
    line-height: 26px;
    color: #02133C;
    font-family: 'Roboto', sans-serif;
}

.sectiontext {
    line-height: 24px;
    letter-spacing: 0.15px;
    padding: 0px 46px 49px 43px;
    color: #4B4B4B;
    font-family: 'Roboto', sans-serif;
}

.titleservices {
    font-size: 36px;
    max-width: 583px;
    color: #02133C;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 0px 0px 78px 0px;
}

/* ==================================================================================== */
.shoop{
    margin: 0px 0px 100px 0px;
}
.containershop {
    max-width: 1040px;
    margin: 0 auto;
}

.shoptitle {
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 26px 0px;
}

.shopsubtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 0px 0px 19px 0px;
    font-family: 'Poppins', sans-serif;
}

.shoptexttitle {
    padding: 42px 0px 42px 0px;
    line-height: 26px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}


.shoptext {
    line-height: 26px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.margin {
    margin: 0px 0px 35px 0px;
}

/* =========================================================================== */

.qualitycontainer {
    max-width: 1000px;
    margin: 0 auto;
}

.qualityimg {
    margin: 0px 0px 9px 0px;
}

.qualitysection {
    max-width: 465px;
}

.qualitytitle {
    font-size: 44px;
    line-height: 58px;
    font-weight: 500;
    margin: 0px 0px 25px 0px;
    font-family: 'Poppins', sans-serif;
}

.qualitytext {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
}