.wrapper__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 5px 30px 5px;
}
.wrapper__box {
    display: inline-block;
    max-width: 399px;

}

.wrapper__box:not(:last-child){
    margin: 0px 20px 20px 0px;
}
.wrapper__image {
    
}

.wrapper__image img{
    max-width: 100%;
}
.wrapper__item {
   
}
.wrapper__subtitle {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}
.wrapper__text {
    font-size: 16px;
}