.wrapper {}
.wrapper__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 5px 30px 5px;
}
.wrapper__title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 50px 0px;
}

.wrapper__subtitle {
    font-size: 25px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
}
.wrapper__text:not(:last-child) {
    margin: 0px 0px 30px 0px;
}