/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	/* по умолчанию */
}

body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	/* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* ------------------------------ */

.work {
	padding: 100px 0px 100px 0px;
	background-color: #191919;
}


.work__container {
	max-width: 1110px;
	margin: 0 auto;
}

.work__box {}

.box-work {
	font-size: 0px;
}

.box-work__items {
	display: inline-block;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	padding: 24px 24px 57px 24px;

}

.box-work__items:not(:last-child) {
	margin: 0px 30px 0px 0px;
}

.box-work__items:hover {
	color: #191919;
	background: #34C759;
}

.box-work__items:hover ::after {
	background-color: #191919;
}

.box-work__item {}

.box-work__title {
	font-size: 22px;
	letter-spacing: -0.275px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.box-work__title::after {
	content: "";
	display: block;
	width: 56px;
	height: 2px;
	margin: 22px 0px 27px 0px;
	background: #34C759;
}

.box-work__title:hover::after {
	background-color: #191919;
}

.box-work__text {
	max-width: 207px;
	font-size: 13px;
	letter-spacing: -0.1625px;
	color: rgba(255, 255, 255, 0.5);
}

/* ================================================================================================================================== */

.services {
	padding: 110px 0px 122px 0px;
	background: #F5F5F5;
}

.services__container {
	max-width: 1020px;
	margin: 0 auto;
}

.services__title {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #4B4B4B;
	margin: 0px 0px 42px 0px;
}

.services__title::before {
	content: url(../img/ourservices/mark.svg);
	display: inline-block;
	vertical-align: middle;
}

.services__sub-title {
	font-weight: 900;
	font-size: 36px;
	color: #02133C;
	margin: 0px 0px 80px 0px;
}

.services__box {}

.box-services {
	font-size: 0;
}

.box-services_margin-bottom {
	margin: 0px 0px 42px 0px;
}

.box-services__items {
	padding: 50px 43px 50px 43px;
	background: #FFFFFF;
	display: inline-block;
	text-align: center;
}

.box-services__items:not(:last-child) {
	margin: 0px 24px 24px 0px;
}


.box-services__items:hover {
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.box-services__img {
	margin: 0px 0px 37px 0px;
}

.box-services__title {
	font-weight: 900;
	font-size: 19px;
	color: #02133C;
	margin: 0px 0px 29px 0px;
}

.box-services__text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
	max-width: 235px;
}


.services__wrapper-button {
	max-width: 145px;
	margin: 0 auto;
}

.services__button {
	display: block;
	padding: 20px 0px 20px 20px;
	background: #C40B0B;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 2px;
}

.services__button::after {
	content: url(../img/ourservices/arrow.svg);
	display: inline-block;
	margin: 0px 0px 0px 29px;

}


/* ========================================================================================================================================= */



.impact {
	padding: 0px 0px 212px 0px;
	background: #29C3BE;
}

.impact__container-background {
	max-width: 1180px;
	margin: 0 auto;
	background: url(../img/impact/background.png) top right no-repeat;
}

.impact__container {
	max-width: 1020px;
	margin: 0 auto;
}

.impact__box {
	font-size: 0;
	margin: 0px 0px 79px 0px;
}

.impact__left {
	display: inline-block;
	margin: 0px 106px 0px 0px;
}

.impact__title {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0px 0px 32px 0px;
}

.impact__title::before {
	content: url(../img/impact/mark-white.svg);
	display: inline-block;
	vertical-align: middle;
}

.impact__sub-title {
	max-width: 411px;
	font-weight: 900;
	font-size: 36px;
	color: #FFFFFF;
}

.impact__right {
	display: inline-block;
	margin: -80px 0px 0px 0px;
}

.impact__image {}

.impact__image img {
	display: block;
	border-radius: 20px;
}

.impact__items {}

.items-impact {}

.items-impact__item {
	display: inline-block;
}
.items-impact__item:not(:last-child){
	margin: 0px 83px 0px 0px;
}
.items-impact__image {
	display: inline-block;
	vertical-align: top;
	margin: 0px 11px 0px 0px;
}

.items-impact__sub-text {
	display: inline-block;
}

.items-impact__title {
	font-weight: 900;
	font-size: 36px;
	color: #FFFFFF;
	margin: 0px 0px 10px 0px;
}

.items-impact__text {
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.15px;
	color: #5D62B5;
}