/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	/* по умолчанию */
}

body {
	line-height: 1;
	font-family: "Roboto";
	background: #f5f5f5;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px;
}

/* ------------------------------ */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

ul li {
	background: url("../img/check1.png") no-repeat;
	background-position: 0px 0px;
	min-height: 25px;
	padding-left: 25px;
	padding-top: 5px;
	margin-bottom: 20px;
}

/* ==================================================================================== */
.contact {
	margin: 0px 0px 100px 0px;
}

.location {
	max-width: 200px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	margin: 0px 0px 16px 0px;
	padding: 0px 0px 0px 21px;
	background: url("../img/location.png") 0 0 no-repeat;
}

.phone {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	margin: 0px 0px 16px 0px;
	padding: 0px 0px 0px 21px;
	background: url("../img/phone.png") 0 0 no-repeat;
}

.mail {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	margin: 0px 0px 16px 0px;
	padding: 0px 0px 0px 21px;
	background: url("../img/email.png") 0 0 no-repeat;
}

.clock {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	margin: 0px 0px 16px 0px;
	padding: 0px 0px 0px 21px;
	background: url("../img/clock.png") 0 0 no-repeat;
}

/* =============================================================================== */

.bg {
	max-width: 1440px;
	padding: 232px 647px 312px 210px;
	margin: 0 auto;
	background: url("../img/heroshot\ 3.png");
}

.text {}

.title {
	font-size: 56px;
	line-height: 56px;
	color: #fff;
	margin: 0px 0px 48px 0px;

}

.button {}

/* ============================================================================ */

.background {
	max-width: 1440px;
	margin: 0 auto;
	background: #02133C url("../img/overlayimage.png");
	padding: ;
}

.backgroundcontainer {
	max-width: 1020px;
	margin: 0 auto;
}

.itemtitle {
	display: inline-block;
	max-width: 411px;
	margin: 0px 106px 79px 0px;
}

.subtitle {
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #D5D5D5;
	padding: 0px 0px 0px 30px;
	background: url(../img/mark.png) 0 0 no-repeat;
	margin: 0px 0px 31.77px 0px;

}

.extratitle {}

.extratitle h2 {
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
}

.itemimage {
	display: inline-block;
	margin: -79px 0px 0px 0px;
}

.itemimage img {
	display: block;
}

.itemicon {
	padding: 0px 0px 212px 0px;
}

.itembox {
	display: inline-block;
	margin: 0px 41px 0px 0px;
}

.itemboxcontent {
	font-size: 36px;
	line-height: 42px;
	color: #C40B0B;
	padding: 0px 0px 0px 87px;
	background: url("../img/i1.png") no-repeat;
}
.itemboxcontent2{
	font-size: 36px;
	line-height: 42px;
	color: #C40B0B;
	padding: 0px 0px 0px 87px;
	background: url("../img/i2.png") no-repeat;
}
.itemboxcontent3{
	font-size: 36px;
	line-height: 42px;
	color: #C40B0B;
	padding: 0px 0px 0px 87px;
	background: url("../img/i3.png") no-repeat;
}
.itemboxcontent4{
	font-size: 36px;
	line-height: 42px;
	color: #C40B0B;
	padding: 0px 0px 0px 87px;
	background: url("../img/i4.png") no-repeat;
}


.itemboxcontent span {
	display: block;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #F5F5F5;
}
.itemboxcontent2 span {
	display: block;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #F5F5F5;
}
.itemboxcontent3 span {
	display: block;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #F5F5F5;
}
.itemboxcontent4 span {
	display: block;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #F5F5F5;
}